<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 

		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="style/header.css">
		<link rel="stylesheet" href="style/product-list.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Product list</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="icon" href="favicon.ico" />
		
	</head>
	<body>
		<header>
			<h1>Products</h1>
			<span>All available products in  our store</span>
			<nav class="cart-nav">
				<a href="/cart"> 
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					view cart
					<span class="cartCounter">0</span>
				</a>
			</nav>
			<div class="cart-notification">
				<div class="arrow-up"></div>
				Successfully add to cart !
			</div>
		</header>
		
		<main>
			<div class="product-wrapper">

				<th:block th:each="product : ${products}">
					<div class="product" th:id="${product.productID}">
						<h2 th:text="${product.productName}"></h2>
						<div class="product-img">
							<img th:src="'/images/' + ${product.imageFileName}" th:alt="${product.productName}"
							th:title="${product.productName}"></img>
						</div> 
						<div class="product-info">
							<div class="product-description" th:text="${product.productDescription}"></div>
							<div class="product-price" th:text="${product.unitPrice} + ' USD'"> </div>
							<div class="product-quanity" th:text="${product.unitInStock} + ' units in stock'"></div>
						</div>
						<div class="product-btn">
							<a th:href="${product.productName}" class="btn btn-primary">
							<i class="fa fa-info-circle fa-xs" aria-hidden="true"></i>
								<span> Details </span>
							</a>
							<a href="#"  class="btn btn-secondary">		        		        
								<i class="fa fa-shopping-cart fa-xs" aria-hidden="true"></i>
								Order Now
							</a>
						</div>
					</div>
				</th:block>

			</div>
		</main>

	<script type="text/javascript" src="script/index.js"></script>
	</body>
</html>