<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../style/header.css">
<link rel="stylesheet" href="../style/login.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<title>Login</title>
</head>
<body>
  <header>
    <h1>Mobile store</h1>
    <nav class="cart-nav"></nav>
  </header>

  <section th:if="${param.logout}" class="report">
    <div class="report-title">
      <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>	
      <span>Report</span>
    </div>
    <p style="text-align:center;">You Have Been Logged Out</p>
  </section>

  <section th:if="${param.error}" class="report">
    <div class="report-title">
      <i class="fa fa-exclamation-circle fa-3x" aria-hidden="true"></i>	
      <span>Report</span>
    </div>
    <p style="text-align:center;">Invalid<br>User name<br>Password</p>
  </section>
	
  <main>
    <form th:action="@{/administrator/doLogin}" method="POST">
      <h2>Please sign in</h2> 
      <div class="row username-input">
        <input type="text" id="username" name="username" placeholder="Username" required>
      </div>
      <div class="row password-input">
        <input type="password" id="password" name="password" placeholder="Password" required>
      </div>
      <div class="row submit-btn">
        <input type="submit" id="submit-btn" value="Login">
      </div>
    </form>
  </main>
<script type="text/javascript" src="../script/login.js"></script>
</body>
</html>