<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/addQuizz.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="question-form">
        <div class="question-name">
            <label for="question-name">Question</label>
            <input type="text" id="question-name" name="question-name">
        </div>
        <div class="answers">
                <label for="ans1" class="ans1 radiobtn">1</label>
                <input type="text" id="ans1" name="ans1">
                <label for="ans2" class="ans2 radiobtn">2</label>
                <input type="text" id="ans2" name="ans2">
                <label for="ans3" class="ans3 radiobtn">3</label>
                <input type="text" id="ans3" name="ans3">
                <label for="ans4" class="ans4 radiobtn">4</label>
                <input type="text" id="ans4" name="ans4">
        </div>
        
        <div class="correct-answers">
            <label for="correct-ans">Correct answer</label>
            <select id="correct-ans">
            <option value="ans1">1</option>
            <option value="ans2">2</option>
            <option value="ans3">3</option>
            <option value="ans4">4</option>
        </select>
        </div>
        
        <input type="submit" value="Save">
    </form>
</body>
</html>