<html>
    <title>English admin</title>
    <head>
        <link rel="stylesheet" href="./css/englishadmin.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Risque&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--Thanh menu-->
        <div class="menu-bar">
            <div class="logo">
                Quizlet
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <button>Log out</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--Tiêu đề-->
        <div class="page-title">
            <img src="./image/image.jpg" alt="Hinh bia">
            <div class="text">
                <div class="title">
                    <h1>English</h1>
                    20 questions
                </div>
            </div>
        </div>
        <!--câu hỏi-->
        <div class="content">
            <!--danh sách câu hỏi-->
            <div class="question">
                <div class="q-head">
                    <p class="num">Question 1
                        <img src="./image/pencil.png" align="right">
                        <img src="./image/bin.png" align="right">
                    </p>
                    <p class="q-test">
                        Marry isn't _____ her sister.
                    </p>
                </div>
                <form class="q-ans">
                    <label class="ans">
                        so pretty than
                        <input type="radio" name="ans" id="ans1" value="so pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty than
                        <input type="radio" name="ans" id="ans2" value="as pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        pretty as
                        <input type="radio" name="ans" id="ans3" value="pretty as">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty as
                        <input type="radio" name="ans" id="ans4" value="as pretty as">
                        <span class="q-check"></span>
                    </label>
                </form>
            </div>
            <div class="question">
                <div class="q-head">
                    <p class="num">Question 1
                        <img src="./image/pencil.png" align="right">
                        <img src="./image/bin.png" align="right">
                    </p>
                    <p class="q-test">
                        Marry isn't _____ her sister.
                    </p>
                </div>
                <form class="q-ans">
                    <label class="ans">
                        so pretty than
                        <input type="radio" name="ans" id="ans1" value="so pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty than
                        <input type="radio" name="ans" id="ans2" value="as pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        pretty as
                        <input type="radio" name="ans" id="ans3" value="pretty as">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty as
                        <input type="radio" name="ans" id="ans4" value="as pretty as">
                        <span class="q-check"></span>
                    </label>
                </form>
            </div>
            <div class="question">
                <div class="q-head">
                    <p class="num">Question 1
                        <img src="./image/pencil.png" align="right">
                        <img src="./image/bin.png" align="right">
                    </p>
                    <p class="q-test">
                        Marry isn't _____ her sister.
                    </p>
                </div>
                <form class="q-ans">
                    <label class="ans">
                        so pretty than
                        <input type="radio" name="ans" id="ans1" value="so pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty than
                        <input type="radio" name="ans" id="ans2" value="as pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        pretty as
                        <input type="radio" name="ans" id="ans3" value="pretty as">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty as
                        <input type="radio" name="ans" id="ans4" value="as pretty as">
                        <span class="q-check"></span>
                    </label>
                </form>
            </div>
            <div class="question">
                <div class="q-head">
                    <p class="num">Question 1
                        <img src="./image/pencil.png" align="right">
                        <img src="./image/bin.png" align="right">
                    </p>
                    <p class="q-test">
                        Marry isn't _____ her sister.
                    </p>
                </div>
                <form class="q-ans">
                    <label class="ans">
                        so pretty than
                        <input type="radio" name="ans" id="ans1" value="so pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty than
                        <input type="radio" name="ans" id="ans2" value="as pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        pretty as
                        <input type="radio" name="ans" id="ans3" value="pretty as">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty as
                        <input type="radio" name="ans" id="ans4" value="as pretty as">
                        <span class="q-check"></span>
                    </label>
                </form>
            </div>
            <div class="question">
                <div class="q-head">
                    <p class="num">Question 1
                        <img src="./image/pencil.png" align="right">
                        <img src="./image/bin.png" align="right">
                    </p>
                    <p class="q-test">
                        Marry isn't _____ her sister.
                    </p>
                </div>
                <form class="q-ans">
                    <label class="ans">
                        so pretty than
                        <input type="radio" name="ans" id="ans1" value="so pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty than
                        <input type="radio" name="ans" id="ans2" value="as pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        pretty as
                        <input type="radio" name="ans" id="ans3" value="pretty as">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty as
                        <input type="radio" name="ans" id="ans4" value="as pretty as">
                        <span class="q-check"></span>
                    </label>
                </form>
            </div>
            <div class="question">
                <div class="q-head">
                    <p class="num">Question 1
                        <img src="./image/pencil.png" align="right">
                        <img src="./image/bin.png" align="right">
                    </p>
                    <p class="q-test">
                        Marry isn't _____ her sister.
                    </p>
                </div>
                <form class="q-ans">
                    <label class="ans">
                        so pretty than
                        <input type="radio" name="ans" id="ans1" value="so pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty than
                        <input type="radio" name="ans" id="ans2" value="as pretty than">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        pretty as
                        <input type="radio" name="ans" id="ans3" value="pretty as">
                        <span class="q-check"></span>
                    </label>
                    <label class="ans">
                        as pretty as
                        <input type="radio" name="ans" id="ans4" value="as pretty as">
                        <span class="q-check"></span>
                    </label>
                </form>
            </div>
        </div>
        
    </body>
</html>