<html  xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://github.com/ptquang2000/Mock/project/src/main/resources/static/css/addQuizz.css">
        <link rel="stylesheet" href="https://github.com/ptquang2000/Mock/project/src/main/resources/static/css/quiz.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Risque&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <title th:text="${course}"></title>
    </head>
    <body>   
        <!-- Login form -->
        <div class="loginform">
            <div class="login-title">Log in to Quizlet</div>
            <form th:action="@{/login}" method="POST" class="fillform">
                <div>
                    <span>Email</span>
                </div>
                <input name="username" type="text"></input>
                <div>
                    <span>Password</span>
                </div>
                <input name="password" type="password" ></input>
                <div class="loginbutton">
                    <input class="login-btn" name="loginButton" type="submit" value="Log in"></input>
                </div>
            </form>
        </div>
        <!--Thanh menu-->
        <div class="menu-bar">
            <div class="logo">
                Quizlet
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <button class="login btn" sec:authorize="isAnonymous()">Login</button>
                        <button class="logout btn" sec:authorize="isAuthenticated()">Logout</button>
                         <form name="logoutForm" th:action="@{/logout}" method="POST" style="display: none;">
                            <input type="submit" value="logout">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <script src="js/login.js"></script>
        <!--Tiêu đề-->
        <div class="page-title">
            <img src="https://github.com/ptquang2000/Mock/project/src/main/resources/static/image/image.jpg" alt="Hinh bia">
            <div class="text">
                <div class="title">
                    <h1 th:text="${course}"></h1>
                    <span th:text="${noQuiz} + ' questions'" th:remove="tag"></span>
                </div>
            </div>  
        </div>
        <div class="add-btn" sec:authorize="isAuthenticated()">
            <i class="fa fa-plus fa-100x"></i>
        </div>
        <!--câu hỏi-->
        <div class="content">
            <!--danh sách câu hỏi-->
            <th:block th:each="quiz,iter : ${quizzes}">

                <div class="question" th:answer="${quiz.ans}">
                    <div class="q-head">
                        <p class="num">
                            <span th:text="Question + ${iter.index + 1}" th:remove="tag"></span>
                            <img sec:authorize="isAuthenticated()" src="https://github.com/ptquang2000/Mock/project/src/main/resources/static/image/pencil.png" align="right">
                            <img sec:authorize="isAuthenticated()" src="https://github.com/ptquang2000/Mock/project/src/main/resources/static/image/bin.png" align="right">
                        </p>
                        <p class="q-test" th:text="${quiz.question}"></p>
                    </div>
                    <div class="q-ans">
                        <label class="ans">
                            <span th:text="${quiz.ans1}" th:remove="tag"></span>
                            <input type="radio" th:name="ans+${iter.index}" id="ans1" th:value="${quiz.ans1}">
                            <span class="q-check"></span>
                        </label>
                        <label class="ans">
                            <span th:text="${quiz.ans2}" th:remove="tag"></span>
                            <input type="radio" th:name="ans+${iter.index}" id="ans2" th:value="${quiz.ans2}">
                            <span class="q-check"></span>
                        </label>
                        <label class="ans">
                            <span th:text="${quiz.ans3}" th:remove="tag"></span>
                            <input type="radio" th:name="ans+${iter.index}" id="ans3" th:value="${quiz.ans3}">
                            <span class="q-check"></span>
                        </label>
                        <label class="ans">
                            <span th:text="${quiz.ans4}" th:remove="tag"></span>
                            <input type="radio" th:name="ans+${iter.index}" id="ans4" th:value="${quiz.ans4}">
                            <span class="q-check"></span>
                        </label>
                    </div>
                </div>

            </th:block>
        </div>
    <div class="form-to-add">
        <form class="question-form" th:object="${quizForm}" th:action="@{/quiz-form?lessonID=} + ${param.lessonID}" method="POST">
            <div class="question-name">
                <label for="question-name">Question</label>
                <input type="text" id="question-name" name="question-name" th:field="*{question}">
            </div>
            <div class="answers">
                <label for="ans1" class="ans1 radiobtn">1</label>
                <input type="text" id="ans1" name="ans1" th:field="*{ans1}">
                <label for="ans2" class="ans2 radiobtn" >2</label>
                <input type="text" id="ans2" name="ans2" th:field="*{ans2}">
                <label for="ans3" class="ans3 radiobtn">3</label>
                <input type="text" id="ans3" name="ans3" th:field="*{ans3}">
                <label for="ans4" class="ans4 radiobtn">4</label>
                <input type="text" id="ans4" name="ans4" th:field="*{ans4}">
            </div>
            
            <div class="correct-answers">
                <label for="correct-ans">Correct answer</label>
                <select id="correct-ans" th:field="*{ans}">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
            </select>
            </div>
            
            <input type="submit" value="Save">
        </form>
    </div>
    <script src="js/popup.js"></script>
    <script src="js/quiz.js"></script>
    </body>
</html>
