nav{
  position: absolute;
  left: 85%;
  top: 50px;
}
nav a{
  text-decoration: none;
  padding: 7px 9px;
  background-color: white;
  border-radius: 4px;
  color: black;
}
nav span{
  display: none;
  font-size: 12px;
  position: absolute;
  top: -95%;
  left: 93%;
  background-color: #e63333;
  border-radius: 50%;
  width: 14px;
  color: white;
  height: 14px;
  text-align: center;
  padding: 2px;
}
.cart-notification{
  display: none;
  position: absolute;
  background-color: white;
  width: 100.44px;
  padding: 6px;
  border-radius: 4px;
  left: 83.7%;
  top: 80px;
}
.active-noti{
  display: block;
  border: 1px solid #eeeeee;
}
.arrow-up{
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  position: absolute;
  top: -10%;
  right: 10px;
}
@media screen and (max-width: 700px){
  nav{
    position: relative;
    top: 40px;
    left: 0;
  }
  nav a{
    white-space: nowrap;
  }
  nav span{
    position: absolute;
    top: -15px;
    left: 91px;
  }
  .cart-notification{
    position: relative;
    left: 0;
    top: 53px;
  }
  .arrow-up{
    left: 20px;
  }
}
main{
  max-width: 100%;
  width: 1600px;
  box-sizing: border-box;
  white-space: nowrap;
  display: flex;
}
@media screen and (max-width: 600px){
	main{
		max-width: 500px;
	}
}
.product{
  width: 50%;
  display: inline-block;
  padding: 0 40px;
  white-space: normal;
  margin: 35px 0;
}
@media screen and (max-width: 800px){
  main{
    display: block;
    white-space: normal;
    margin: 35px 10%;
  }
}
.product-img img{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.product-info > *{
  margin: 15px 0;
}
.product-description{
  font-size: 0.9em;
}
.product-details .row{
  margin: 1.1em 0;
}
.detail-title{
  font-weight: bold;
}
.item-code{
  background-color: #f0ad4e;
  padding: 2px 1px;
  padding-right: 3px;
  color: white;
  border-radius: 4px;
  margin-left: 7px;
  font-weight: bold;
  font-size: 80%;
}
.category{
  color: #5c95cc;
}
.price{
  font-size: 1.5em;
}
.product-btn{
  white-space: nowrap;
}
.btn{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 10px;
  color: white;
}
.btn-primary{
  background-color: #5cb85c;
}
.btn-primary:hover{
  background-color: #80c780;
}
.btn-secondary{
  background-color: #f0ad4e;
}
.btn-secondary:hover{
  background-color: #f4c37d;
}
.fa-shopping-cart{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}